<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="main.css"/>
  {{#if page_title}}
    <title>{{page_title}}</title>
  {{else}}
    <title>{{site_title}}</title>
  {{/if}}
</head>

<body class="min-h-screen flex flex-col">
  <header>
    {{#> header-block}}
      {{> nav/topnav}}
    {{/header-block}}
  </header>
  <main class="xl:container mx-auto flex-grow mb-3">
    {{#> main-block }}

    {{/main-block}}
  </main>
  <footer class=" bg-black text-white h-auto mt-3">
    <section class="flex flex-col md:flex-row justify-between">
    {{> footer/footer}}
    </section>
  </footer>
  <script src="bundle.js"></script>
  {{#> scripts-block}}
  {{/scripts-block}}
</body>

</html>
