<section class="flex flex-col justify-between items-center md:w-2/6 p-4 order-1">
  <a href="" class="flex flex-row items-center justify-start my-1"><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" alt="logo facebook"><span class="ml-4">@rolex_oficial</span></a>
  <a href="" class="flex flex-row items-center justify-start my-1"><img src="https://img.icons8.com/fluent/48/000000/google-plus.png" alt="logo google plus"><span class="ml-4">@rolex.oficial</span></a>
  <a href="" class="flex flex-row items-center justify-start my-1"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" alt="logo instagram"><span class="ml-4">@rolex_oficial</span></a>

</section>
<section class="flex flex-col justify-between items-center p-4 md:w-2/6 order-3 md:order-2">
  Todos los Derechos Reservados Rolex 2021
</section>
<!--<section class="flex flex-col justify-between items-center p-8 md:w-2/6 order-2 md:order-3">
  <span></span>
</section>-->
