<div class="relative bg-indigo-300 text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-start md:items-center border-gray-100 py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="#">
          <span class="sr-only">Workflow</span>
          <img class="h-8 w-auto sm:h-10 rounded-full" src="https://placehold.it/100x100" alt="">
        </a>
      </div>
      <nav class="hidden block md:flex" id="menu">
        {{> nav/link uri="index.html" text="Inicio" }}
        {{> nav/link uri="#" text="Precios" }}
        {{> nav/link uri="contact.html" text="Ayuda"}}
        {{> nav/navbtn id="morebtn" text="Más"}}
      </nav>
      <div id="secmenu" class="hidden block md:flex md:flex-row items-center md:justify-end md:flex-1 lg:w-0">
        {{> nav/navlink uri="#" text="Iniciar"}}
        {{> nav/navlink uri="#" text="Crear Cuenta" primary="true"}}
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button" id="menubtn"
          class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
          <span class="sr-only">Open menu</span>
          <svg class="h-6 w-6" id="openSVG" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="h-6 w-6 hidden" id="closeSVG"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    let menu = document.getElementById("menu");
    let secmenu = document.getElementById("secmenu");
    let closeSVG = document.getElementById("closeSVG");
    let openSVG = document.getElementById("openSVG");

    document.getElementById("menubtn").addEventListener("click", 
      function(e){
        e.preventDefault();
        e.stopPropagation();
        menu.classList.toggle("hidden");
        secmenu.classList.toggle("hidden");
        closeSVG.classList.toggle("hidden");
        openSVG.classList.toggle("hidden");
      }
    );
  })
</script>
